@charset "utf-8";

/* main */
.access_info{margin-bottom:10px;}
.access_info .custom{display:inline-block;font-size:20px;color:#222;}
.access_info .custom em{font-family:'noto-medium';}
.access_info .date{display:inline-block;margin-left:5px;font-size:13px;color:#717171;}
.schedule{overflow:hidden;text-align:center;}
.schedule > a{display:block;float:left;width:60%;height:173px;padding-top:95px;background:#74b02e url(../img/main/bg_schedule.gif) no-repeat center 25px;background-size:60px auto;color:#fff;box-sizing:border-box;}
.schedule > a .tit{display:block;margin-bottom:3px;}
.schedule > a span{display:block;font-size:13px;}
.schedule > a span em{margin-right:3px;font-size:30px;font-family:'noto-bold';}
.schedule .list{float:left;width:40%;padding-left:8px;box-sizing:border-box;}
.schedule .list a{display:table;width:100%;height:83px;}
.schedule .list a .tit{display:table-cell;width:50%;background:#909090;vertical-align:middle;color:#fff;}
.schedule .list a span{display:table-cell;width:50%;border:1px solid #d7d7d7;border-left:0;vertical-align:middle;font-size:13px;color:#222;}
.schedule .list a span em{margin-right:3px;font-size:30px;font-family:'noto-bold';color:#fc761a;}
.schedule .list li + li{margin-top:7px;}
.notice_list{border-top:1px solid #d7d7d7;line-height:1;}
.notice_list li{position:relative;padding:10px 80px 9px 40px;border-bottom:1px solid #d7d7d7;font-size:14px;color:#717171;}
.notice_list li .type{position:absolute;left:0;top:10px;color:#f86408;}
.notice_list li a{display:inline-block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#717171;}
.notice_list li .date{position:absolute;top:10px;right:0;}
.btn_add{width:10px;height:10px;overflow:hidden;border-right:2px solid #d7d7d7;border-bottom:2px solid #d7d7d7;text-indent:-9999px;transform:rotate(-45deg);}

/* intro */
.intro{height:100%;background:url(../img/main/bg_intro.jpg) no-repeat;background-size:cover;}
.intro .inner{position:absolute;top:50%;left:50%;width:300px;margin:-80px 0 0 -150px;text-align:center;}
.intro .logo{width:154px;height:35px;overflow:hidden;margin:0 auto 30px;background:url(../img/main/intro_logo.jpg) no-repeat;background-size:154px auto;text-indent:-9999px;}
.intro .desc{font-size:13px;font-family:'noto-medium';color:#333;}
.intro_loading{width: 20%;padding-bottom: 30px;}

/* login */
.login{min-height:100%;padding:75px 0 30px;background:url(../img/main/bg_intro.jpg) no-repeat;background-size:cover;box-sizing:border-box;}
.login .login_section{width:300px;margin:0 auto;padding:35px 20px 40px;background:#fff;border:1px solid #dedede;border-radius:10px;text-align:center;box-sizing:border-box;}
.login .login_section .logo{display:inline-block;width:122px;height:28px;overflow:hidden;margin-bottom:10px;background:url(../img/main/login_logo.jpg) no-repeat;background-size:122px auto;text-indent:-9999px;}
.login .login_section .desc{margin-bottom:25px;font-size:13px;font-family:'noto-medium';color:#000;}
.login .login_section .login_input{margin-bottom:15px;}
.login .login_section .login_input li{padding-left:33px;border-bottom:1px solid #e2e2e2;}
.login .login_section .login_input li.login_id{background:url(../img/main/bg_login_id.gif) no-repeat 10px center;background-size:14px auto;}
.login .login_section .login_input li.login_pw{background:url(../img/main/bg_login_pw.gif) no-repeat 10px center;background-size:14px auto;}
.login .login_section .login_input li input[type=text],
.login .login_section .login_input li input[type=password]{width:100%;height:45px;border:0;font-size:12px;color:#999;}
.login .login_section .id_save{display:block;text-align:left;font-size:12px;font-family:'noto-bold';color:#2b2b2b;}
.login .login_section .id_save input[type=checkbox] + .label_txt{display:inline-block;position:relative;padding-left:24px;}
.login .login_section .id_save input[type=checkbox] + .label_txt:after{content:"";display:block;position:absolute;top:0;left:0;width:16px;height:16px;border:1px solid #fc6701;border-radius:2px;text-align:center;color:#fc6701;line-height:13px;box-sizing:border-box;}
.login .login_section .id_save input[type=checkbox]:checked + .label_txt:after{content:'✔';}
.login .login_section .btn_login{display:block;height:40px;margin-top:25px;padding:8px 0 0;background:#81c40c;border:1px solid #6ba604;border-radius:20px;text-align:center;font-size:15px;font-family:'noto-bold';color:#fff;box-sizing:border-box;}
.app_msg{width:300px;margin:15px auto 0;font-size:13px;color:#2b2b2b;}


.split_w{position:relative;padding-right:11px;margin-right:10px;}
.split_w:after{content:"";display:inline-block;position:absolute;right:0;top:50%;width:1px;height:12px;margin-top:-6px;background:#fff;}
.split_g{position:relative;padding-right:11px;margin-right:10px;}
.split_g:after{content:"";display:inline-block;position:absolute;right:0;top:50%;width:1px;height:12px;margin-top:-6px;background:#d4d5d5;}

.gray_box{padding:0 15px;background:#f4f4f4;border:1px solid #d7d7d7;box-sizing:border-box;line-height:40px;color:#222;}
.gray_box.dark{background:#757575;border:0px;color:#fff;}
.gray_box:after{content:"";display:block;clear:both;}
.gray_box .left_txt{float:left;}
.gray_box .right_txt{float:right;}

/* 검색 조건 영역 */
.srch_wrap{margin-bottom:30px;}
.srch_wrap .btn_srch_open{display:block;position:relative;height:40px;padding:11px 40px 0 15px;background:#909090;color:#fff;box-sizing:border-box;}
.srch_wrap .btn_srch_open:after{content:"";position:absolute;top:17px;right:15px;border-top:6px solid #fff;border-left:5px solid #909090;border-right:5px solid #909090;border-bottom:0;}
.srch_wrap.on .btn_srch_open:after{border-top:0;border-left:5px solid #909090;border-right:5px solid #909090;border-bottom:6px solid #fff;}
.srch_wrap .srch_area{display:none;padding:15px 15px 0;background:#f4f4f4;border:1px solid #d7d7d7;}
.srch_wrap.on .srch_area{display:block;}
.srch_wrap .srch_area02{display:none;background:#f4f4f4;border:1px solid #d7d7d7;}
.srch_wrap.on .srch_area02{display:block;}
.srch_wrap .srch_area li{margin-bottom:10px;}
.srch_wrap .srch_area li .tit{display:block;margin-bottom:5px;font-size:13px;color:#555;}
.srch_wrap .srch_area .btn_srch{display:block;margin-top:15px;text-align:center;}
.srch_wrap .srch_area .btn_srch .btn{width:135px;}
.srch_wrap .srch_area .srch_control{overflow:hidden;margin:15px -15px 0;padding:7px 15px;border-top:1px solid #d7d7d7;}
.srch_wrap .srch_area .srch_control .btn_reset{float:left;font-size:13px;color:#222;text-decoration:underline;}
.srch_wrap .srch_area .srch_control .btn_cls{position:relative;float:right;padding-left:20px;font-size:13px;color:#222;}
.srch_wrap .srch_area .srch_control .btn_cls:after{content:"";position:absolute;top:0;left:0;width:15px;height:15px;border:1px solid #222;border-radius:100%;}
.srch_wrap .srch_area .srch_control .btn_cls span:after{content:"";position:absolute;top:8px;left:4px;width:9px;border-top:1px solid #222;transform:rotate(-45deg);}
.srch_wrap .srch_area .srch_control .btn_cls span:before{content:"";position:absolute;top:8px;left:4px;width:9px;border-top:1px solid #222;transform:rotate(45deg);}

/* 작업 진행 사항 */
.survey_list li{margin-top:10px;background:#fff;border:1px solid #d7d7d7;letter-spacing:-0.05em;}
.survey_list li:first-child{margin-top:0;}
.survey_list li > a{display: block;}
.survey_list li .division{display:block;height:35px;margin:-1px -1px 0;padding:0 15px;background:#14653e;text-align:right;font-size:13px;font-family:'noto-medium';color:#fff;line-height:35px;}
.survey_list li .division.type02:after{content:"";display:block;clear:both;}
.survey_list li .division.type02 .left_txt{float:left;}
.survey_list li .division.type02 .right_txt{float:right;}
.survey_list li .top{position:relative;padding:10px 10px 0 15px}
.survey_list li .top .date{display: inline-block;margin-bottom: 5px;font-family: 'noto-medium';color: #f86408;}
.survey_list li .top .order_num{float:right}
.survey_list li .mid{position:relative;padding:10px 50px 10px 15px;}
.survey_list li .mid.mh112{min-height: 112px;box-sizing: border-box;}
.survey_list li .mid .date{display:inline-block;margin-bottom:5px;font-family:'noto-medium';color:#f86408;}
.survey_list li .mid .order_num{float:right;margin-bottom:5px;font-family:'noto-medium';color:#000;}
.survey_list li .mid .num{display:block;margin-bottom:3px;color:#717171;}
.survey_list li .mid .addr{display:block;font-family:'noto-medium';color:#333;}
.survey_list li .mid .schedule_name{display:block;font-family:'noto-medium';color:#333;}
.survey_list li .mid .mit_name{display:block;font-family:'noto-medium';color:#717171;}
.survey_list li .mid .mit_time{display:block;font-family:'noto-medium';color:#717171;}
.survey_list li .mid:before{content:'';position:absolute;top:50%;right:15px;width:30px;height:30px;margin-top:-15px;border:1px solid #d7d7d7;border-radius:3px;box-sizing:border-box;}
.survey_list li .mid:after{content:'';position:absolute;top:50%;right:26px;width:10px;height:10px;margin-top:-6px;border-right:2px solid #666;border-bottom:2px solid #666;transform:rotate(-45deg);}
.survey_list li .mid.full{padding:15px 10px;}
.survey_list li .mid.order{padding:0px 15px 10px 15px;}
.survey_list li .mid.full:after,.survey_list li .mid.order:after{display:none;}
.survey_list li .mid.full:before,.survey_list li .mid.order:before{display:none;}
.survey_list li .bot{overflow:hidden;padding:0 15px;background:#f5f5f5;border-top:1px dashed #d7d7d7;font-size:13px;color:#717171;line-height:40px;}
.survey_list li .bot .company{float:left;}
.survey_list li .bot .charge{float:right;}
.survey_list li .bot .btn{float:right;margin:7px 0;}
.survey_list li .bot .progress{padding:10px 0px;}
.survey_list li .progress{display:-webkit-box;padding:0 15px 10px;background:#f5f5f5;line-height:initial;}
.survey_list li .progress .start_txt{display:block;-webkit-box-flex:0;position:relative;min-width:30px;font-size:12px;padding:35px 0 0;color:#7a7a7a;text-align:center;}
.survey_list li .progress .start_txt:after{content:"";display:inline-block;position:absolute;top:0;left:50%;width:30px;height:30px;margin-left:-15px;background:#c5c5c5 url('../img/content/bg_house.png') no-repeat center;background-size:90%;border-radius:50%;}
.survey_list li .progress .start_txt.on{color:#14653e;}
.survey_list li .progress .start_txt.on:after{background:#14653e url('../img/content/bg_house.png') no-repeat center;background-size:90%;}
.survey_list li .progress .progress_wrap{-webkit-box-flex:1;position:relative;width:100%;}
.survey_list li .progress .progress_wrap:after{content:'';display:block;position:absolute;top:15px;left:0;width:100%;height:2px;background:url('../img/content/bg_progress_off.gif') repeat-x left top;background-size:auto 2px;}
.survey_list li .progress .progress_wrap .inner{position:relative;max-width:100%;min-width:66px;z-index:1;box-sizing:border-box;}
.survey_list li .progress .progress_wrap .inner:after{content:'';display:block;position:absolute;top:15px;left:0;width:100%;height:2px;background:url('../img/content/bg_progress_on.gif') repeat-x left top;background-size:auto 2px;}
.survey_list li .progress .progress_wrap .stu_txt{position:relative;float:right;height:30px;padding:5px 9px 6px;background:#8acd15;border-radius:15px;font-size:13px;color:#fff;z-index:1;box-sizing:border-box;box-shadow:0 -3px 30px #6aa505 inset;}
.survey_list li .progress .end_txt{display:block;-webkit-box-flex:0;position:relative;min-width:30px;font-size:12px;padding:35px 0 0;color:#7a7a7a;text-align:center;}
.survey_list li .progress .end_txt:after{content:"";display:inline-block;position:absolute;top:0;left:50%;width:30px;height:30px;margin-left:-15px;background:#909090 url('../img/content/bg_complate.png') no-repeat center;background-size:90%;border-radius:50%;}
.survey_list li .progress .end_txt.on{color:#14653e;}
.survey_list li .progress .end_txt.on:after{background:#14653e url('../img/content/bg_complate.png') no-repeat center;background-size:90%;}

/* 체크리스트 */
.chk_list li{margin-bottom:-1px}
.chk_list li .chk_txt{padding-right:10px;border:1px solid #d3d2d4;}
.chk_list li input:checked + .chk_txt{border:1px solid #d3d2d4;}
.chk_list.right li .chk_txt{padding:0 40px 0 10px;}
.chk_list.right li .chk_txt:after{left:unset;right:10px;}
.chk_list.half{overflow:hidden;border:1px solid #d3d2d4;border-top:0;}
.chk_list.half li{float:left;width:50%;margin:0 0 -1px 0;}
.chk_list.half li:nth-child(even) .chk_txt{margin-right:-1px;}
.chk_list.half li .chk_txt{border-left:0 !important;}

/* 아코디언 스타일 */
.accordion dt a{display:block;position:relative;height:40px;padding:0 35px 0 15px;background:#909090;border-top:1px solid #7a7a7a;color:#fff;box-sizing:border-box;line-height:39px;}
.accordion dt a:after{content:"";position:absolute;top:17px;right:15px;border-top:6px solid #fff;border-left:5px solid #909090;border-right:5px solid #909090;border-bottom:0;}
.accordion dt.on a:after{border-top:0;border-left:5px solid #909090;border-right:5px solid #909090;border-bottom:6px solid #fff;}
.accordion dd{display:none;}
.accordion dt.on + dd{display:block;}

/* 이미지 리스트 */
.image_list{width:100%;margin-top:-10px;}
.image_list:after{content:"";display:block;clear:both;}
.image_list li{position:relative;float:left;width:48.4%;margin-top:10px;box-sizing:border-box;}
.image_list li:nth-child(odd){margin-right:3.1%;}
.image_list li a{display:block;}
.image_list li a img{width:100%;border:1px solid #d5d5d5;box-sizing:border-box;}
.image_list li .btn_delete{display:inline-block;position:absolute;right:0;top:0;width:25px;height:25px;background:url('../img/common/btn_close.gif') no-repeat center;background-size:100%;text-indent:-9999%;z-index:5;}

/* 이슈 리스트 */
.issue_list li{margin-top:10px;border:1px solid #d7d7d7;}
.issue_list li:first-child{margin-top:0px;}
.issue_list li .issue_tit{position:relative;padding:0 15px;border-bottom:1px solid #d7d7d7;line-height:40px;}
.issue_list li .issue_tit .orange_txt{font-size:13px;color:#fd6702;}
.issue_list li .issue_tit .issue_name{margin-left:5px;color:#222;}
.issue_list li .issue_tit .btn{position:absolute;top:7px;right:15px;}
.issue_list li .issue_con a{display:block;padding:15px;background:#f5f5f5;color:#717171;}
.issue_list li .issue_con a span{display:block;position:relative;padding-right:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.issue_list li .issue_con a span:after{content:"";display:block;position:absolute;top:50%;right:1px;width:6px;height:6px;margin-top:-3px;border-right:1px solid #bababa;border-bottom:1px solid #bababa;transform:rotate(-45deg);}

/* 기본 리스트 */
.basic_list{border:1px solid #d7d7d7;}
.basic_list li{padding:0 15px;border-bottom:1px solid #d7d7d7;line-height:40px;}
.basic_list li:last-child{border-bottom:0;}

/* 표준시공항목 */
.price_list{border:1px solid #d7d7d7;}
.price_list li{border-top:1px solid #d7d7d7;}
.price_list li:first-child{border-top:0px;}
.price_list .txt_area{position: relative;padding:10px;color:#717171;background-color: #fff;border-bottom: 1px dashed #d4d5d5;}
.price_list .price_area{padding:10px;}
.price_list .price_area:after{content:"";display:block;clear:both;}
.price_list .price_area .left_txt{float:left;line-height:28px;color:#717171;}
.price_list .gray_box{border:0px;color:#222;}
.price_list .del .txt_area{padding:10px 40px 10px 10px;}
.price_list .del .price_area{padding:5px 10px;background: #f4f4f4;}
.price_list .del .btn_del{position: absolute;right: 20px;top:10px;width: 16px;height: 16px;border:1px solid #d7d7d7;border-radius: 50%;text-indent: -9999%;}
.price_list .del .btn_del:after{content:"";position: absolute;left: 50%;top: 50%; display:block;width: 10px;height: 1px;margin:0 0 0 -5px;background: #d7d7d7;transform: rotate(45deg)}
.price_list .del .btn_del:before{content:"";position: absolute;left: 50%;top: 50%; display:block;width: 10px;height: 1px;margin:0 0 0 -5px;background: #d7d7d7;transform: rotate(-45deg)}
.price_list .del .p_m{float: none;margin-top: 3px;}

/* 가격 입력 영역 */
.p_m{float:right;display:inline-block;border:1px solid #d7d7d7;line-height:28px;}
.p_m:after{content:"";display:block;clear:both;}
.p_m > *{float:left;}
.p_m .minus,.p_m .plus{display:inline-block;position:relative;width:28px;height:28px;background: #fff; text-align:center;text-indent:-9999px;}
.p_m .minus:after{content:"";display:inline-block;position:absolute;top:50%;left:50%;width:14px;height:2px;margin:-1px 0 0 -7px;background:#717171;}
.p_m .plus:after{content:"";display:inline-block;position:absolute;top:50%;left:50%;width:14px;height:2px;margin:-1px 0 0 -7px;background:#717171;}
.p_m .plus:before{content:"";display:inline-block;position:absolute;top:50%;left:50%;width:2px;height:14px;margin:-7px 0 0 -1px;background:#717171;}
.p_m input[type="text"]{display:inline-block;width:84px;height:28px;border:0;border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7;color:#717171;text-align:center;line-height:26px;}

/* 실측 */
.accept_wrap{overflow:hidden;padding:10px 20px;border-bottom:1px solid #e1e0e5;}
.accept_wrap .date{float:left;font-size:17px;color:#000;line-height:33px;}
.accept_wrap .btn{float:right;}
.content.survey .list_num{margin-bottom:12px;}

/* 신규예약접수 미접수 실측 */
.content.newreser_taba .list_num{margin-bottom:12px;}

/* 신규예약접수 */
.content.newreser .bot .btn.basic{float:right;margin-top:7px;}
.content.newreser .survey_list li .mid:before{display:none}
.content.newreser .survey_list li .mid:after{display:none}
.content.newreser .date{display:block;margin-bottom:5px;font-family:'noto-medium';color:#f86408;}
.content.newreser .num{display:block;margin-bottom:3px;color:#717171;}
.content.newreser .addr{display:block;font-family:'noto-medium';color:#333;}
.content.newreser .list_num{margin:20px 0 10px;font-size:15px;color:#555;}
.content.newreser .chk_style2 .chk_txt{border-bottom:0}
.content.newreser .chk_list li:last-of-type .chk_txt{border-bottom:1px solid #d3d2d4}
.content.newreser .tit_btn .btn_r{top:3px;}

/* 실측완료 */
.survey_comp .tit_btn .btn.orange{position:absolute;top:-7px;right:0;font-size:13px;}
.survey_comp .image_list{margin:0}

/* 갤러리 */
.gallery_list li{border-bottom:1px solid #e1e0e5;}
.gallery_list li a{display:block;position:relative;min-height:110px;padding:30px 20px 20px 100px;box-sizing:border-box;}
.gallery_list li a .thumb{position:absolute;top:20px;left:20px;width:70px;height:70px}
.gallery_list li a .thumb img{width:70px;height:70px}
.gallery_list li a .tit{display:block;margin-bottom:3px;color:#222}
.gallery_list li a .num{display:block;color:#717171}

/* 실측결과확인 */
.survey_comfirm .section{text-align:center;}
.survey_comfirm .section .btn.orange{padding:0 30px}

/* 시공완료 승인요청 */
.price_info{border:1px solid #d7d7d7;}
.price_info dt{padding:0 15px;background:#e9e9e9;color:#222;line-height:40px;}
.price_info dt:after{content:"";display:block;clear:both;}
.price_info dd{padding:0 15px;border-top:1px solid #d7d7d7;line-height:40px;}
.price_info dd:after{content:"";display:block;clear:both;}
.price_info .left_txt{float:left;}
.price_info .right_txt{float:right;}
.price_info dd .right_txt{color:#222;}

/* 공지사항 */
.bbs_list{}
.bbs_list li{border-bottom:1px solid #d7d7d7;}
.bbs_list li a{display:block;padding:15px 20px;}
.bbs_list li a .cate{font-size:13px;color:#fc761a;}
.bbs_list li a .date{margin-left:5px;font-size:13px;color:#757575;}
.bbs_list li a p{overflow:hidden;margin-top:5px;text-overflow:ellipsis;font-family:'noto-medium';color:#222;white-space:nowrap;}
.detail_tit{padding:10px 0;border-top:2px solid #14643d;border-bottom:1px solid #d7d7d7;}
.detail_tit .cate{font-size:13px;color:#fc761a;}
.detail_tit .date{margin-left:5px;font-size:13px;color:#757575;}
.detail_tit .tit{margin-top:5px;font-family:'noto-medium';font-size:14px;color:#222;}
.detail_cont{padding:10px 0;border-bottom:1px solid #d7d7d7;color:#7d7d7d;}
.detail_cont .img_wrap{display:block;margin:10px 0;}
.detail_cont img{width:100%;}
.detail_cont p{margin:10px 0;}

/*영업활동*/
.cs_list {}
.cs_list li{margin-top: 10px;border:1px solid #d7d7d7;}
.cs_list li dt{padding:10px 15px;background: #fff;}
.cs_list li dt.cut {padding:5px 15px 10px;background: #fff;border-bottom: 1px dashed #d7d7d7}
.cs_list li dt.cut:after{content:"";display: block;clear: both;}
.cs_list li dt.cut span{float: left;display:inline-block;width:50%;margin-top: 5px;}
.cs_list li dt span{background: #fff;color:#222;}
.cs_list li dd{padding:10px 15px;background: #f5f5f5;}
.cs_list li dd:after{content:"";display: block;clear: both;}
.cs_list li dd .phone_num{float: left;display:inline-block;width:50%;background: #f5f5f5;color:#727272;}
.order_txt{display: inline-block;width: 35%;}
.business_srch{padding-bottom: 20px !important;}
.business_tab .survey_list li .mid .date{color:#222;}
.business_tab .section{/*background-color:#f5f5f5;*/}
.business_tab .btn_r {padding: 0 50px;}
.business_table label{display: block;}
.business_table .chk_style .chk_txt{padding:0 30px 0 0;border:0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;box-sizing: border-box;}
.business_table .chk_txt:after{left: unset;right: 0px;}
.business_table.tbl tbody th{text-align: center}
.business_section{background-color:#f5f5f5}
.business_section .price_list{border:0}
.business_section .price_list .gray_box{color:#717171}
.business_section .price_list li{margin-bottom:10px}
.business_section .price_list li {border: 1px solid #d7d7d7;margin-top: 10px;}
.business_list{padding: 20px;}
.business_list .webkit_box{width: 88%;display: inline-block !important;margin-left: 2%;}
.accept_wrap .page_btn{float:right}
.page_btn li{width: 30px; height: 30px;border: 1px solid #d7d7d7;border-radius: 3px; box-sizing: border-box;display: block;position:relative;float:left;margin-left:10px;box-shadow: 0 1px 1px #f0f0f0;}
.before_btn:after{right: 8px;transform: rotate(90deg);content: "";position: absolute;top: 12px;border-top: 6px solid #000;border-left: 6px solid #fff;border-right: 6px solid #fff;border-bottom: 0;}
.after_btn:after{right: 8px;transform: rotate(-90deg);content: ""; position: absolute; top: 12px; border-top: 6px solid #000;border-left: 6px solid #fff; border-right: 6px solid #fff;border-bottom: 0;}
.business_area{height:120px}
.business_btn{float:right;padding:0 18px !important;background-color:#909090 !important}

/* 영업활동 - B2C  */
.b2c_wrap{background: #f4f4f4;}
.b2c_wrap .total_wrap{height: 44px;line-height: 44px;background-color: #fff;border-top: 1px solid #eee;}
.b2c_wrap .total_wrap:after{content: "";display: block;clear: both;}
.b2c_wrap .total{float: left;padding-left: 20px;}
.b2c_wrap .total_ul li{float:left;width: 50%;box-sizing: border-box;}
.b2c_wrap .total_ul li:first-of-type{border-right: 1px solid #eee;}
.b2c_wrap .call{float: right;padding-right: 20px;}
.b2c_wrap .call input[type="text"]{width:35px;height: 30px;margin:0 3px; font-family:'noto-medium';font-size: 20px; text-align: center;color: #fc761a;line-height: 25px;padding: 0px;vertical-align: sub;}
.b2c_wrap > ul{padding:5px 20px 15px;border-top:1px solid #d7d7d7;}
.b2c_wrap > ul:after{content:"";display: block;clear: both;}
.b2c_wrap > ul li{float: left;width:32%;margin-right: 2%;margin-top: 10px;}
.b2c_wrap > ul li:nth-child(3){margin-right: 0;}
.b2c_wrap > ul li dl dt{background: #909090;color:#fff;text-align: center;line-height: 35px;}
.b2c_wrap > ul li dl dd{background: #fff;text-align: center;line-height: 64px;font-size: 13px;border:1px solid #d7d7d7;border-top:0;}
.b2c_wrap > ul li dl dd span{font-family:'noto-bold';font-size: 30px;margin-right: 3px;}
